<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   
        <h4>
          welcome to {{title}}
        </h4>
      </div>
      
 <a routerLink="family">family</a> &nbsp;&nbsp;&nbsp;
 <a routerLink="pipe">pipe</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="templateform">templateform</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="reactiveform">reactiveform</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="task">Task</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="local">LocalService</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="local2">LocalService2</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="remote">Remote</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="bank">Bank</a>&nbsp;&nbsp;&nbsp;

 <router-outlet></router-outlet>