<h3>
    Reactive Form
</h3>
  
  <form [formGroup]="rHobbyForm" (ngSubmit)="addHobby(rHobbyForm.value)">
    First Name : <input type="text" name="firstName" formControlName="fName"> {{fName}}
    <br>
    Last Name : <input type="text" name="lastName" formControlName="lName"> {{lName}}
    <br>
    <select name="hobby" formControlName="hobby">
      <option value="swimming">Swimming</option>
      <option value="driving">Driving</option>
      <option value="hacking">Hacking</option>
      <option value="coding">Coding</option>
    </select>
    {{hobby}}
    <button type="submit" [disabled]="false">Add Hobby</button>
  </form>
  